body {
  font-family: 'Raleway', sans-serif;
  color: #b5b5b7;
  background-color: #252839;
}

nav.navheader {
  background-color: #f2b632 !important;
}

div.topsection {
  color: #f2b632;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

div.middlethree {
  min-height: 250px;
  padding-top: 60px;
}

figure {
  display: inline-block;
  margin: 0 auto;
}

figure img {
  vertical-align: top;
  margin: 0 auto;
  width: 100%;
}

figure figcaption {
  text-align: center;
  font-weight: bold;
}

div.footer {
  display: flex;
  justify-content: center;
  min-height: 250px;
  padding-top: 100px;
}
