div.topsection {
  text-align: center;
  font-size: 30px;
  min-height: 200px;
}

div.middlethree {
  min-height: 200px;
}

div.footer {
  text-align: center;
  font-size: 30px;
  min-height: 200px;
}
